# syntax=docker/dockerfile:experimental

services:
  development:
    build:
      context: .
    env_file: 
      - path: ../.env
        required: true
    command: sleep infinity
    volumes:
      - ..:/workspace:cached
      - type: bind
        source: $HOME/.aws
        target: /home/vscode/.aws
    networks:
      - my-network

  grafana:
    image: grafana/otel-lgtm:latest
    pull_policy: always
    ports:
      - 3000:3000
      - 4317:4317
      - 4318:4318
    networks:
      - my-network

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=sqs,dynamodb
      - AWS_DEFAULT_REGION=eu-west-1
    ports:
      - "4566-4597:4566-4597"
    volumes:
      - localstack:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - my-network

volumes:
  localstack:
    driver: local

networks:
  my-network:
    driver: bridge
